// Top Hero
.top-hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
    position: relative;
}

// Testmonials
.testmonials {
    &__item {}
}

.owl-carousel .owl-nav :is(button.owl-next, button.owl-prev) {
    background-color: #e3000f;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.4));
}

.owl-carousel .owl-nav :is(button.owl-next, button.owl-prev) i {
    font-size: 27px;
    color: #fff;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.carousel-shadow {
    margin: 15px;
    @include carousel-shadow;
}

.owl-custom-btn {
    color: #decccc;
    border-radius: 50%;
    font-size: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $red;
        background-color: #fff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
    }
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel.owl-drag .owl-item {
    display: flex;
}

//Video modal
.video-btn {
    cursor: pointer;
}

.modal-video {
    .modal-body {
        position: relative;
        padding: 0;

        .btn-close {
            &.close-video {
                @include media-breakpoint-up(md) {
                    right: -30px;
                }

                position: absolute;
                right: 0;
                top: 0;
                z-index: 999;
                font-size: 1rem !important;
                font-weight: 400 !important;
                color: #fff;
                opacity: 1;
            }
        }
    }
}

// Form
.form-box {
    box-shadow: 0 0 16px rgba(0, 0, 0, .1);
    border-radius: 12px;
}

.page-template-templates {

    .wpcf7-not-valid-tip,
    .title-field-form {
        font-size: 14px;
    }
}

.wpcf7-acceptance {
    .wpcf7-list-item-label {
        font-size: 12px;
        display: inline-block;
    }
}

.wpcf7-submit {
    border: none;
    background-color: $red;
    color: #fff !important;
    padding: 0.5rem 0.75rem;
    border-radius: 35px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.text-sm-form {
    font-size: 12px;
    display: inline-block;
}

// FAQ
.qa {
    &__item {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        border: 2px solid rgba(0, 0, 0, .1);
        cursor: pointer;
    }
}

//Hero 
.top-hero {
    height: 100vh;
    background-position: top;
    background-size: cover;
}