// Top Menu
// #top-header {
//     @include media-breakpoint-down(xl) {
//         box-shadow: 0 0 16px rgba(50, 50, 50, 0.2);
//     }
// }

// @include media-breakpoint-down(md) {
//     .navbar-collapse {
//         max-height: calc(100vh - 60px);
//         overflow-y: auto;
//         overflow-x: hidden;
//     }
// }

// Tom menu with sticky
// #top-header {
//     &.sticky {
//         transition: 0.3s ease-in-out;

//         @include media-breakpoint-up(xl) {
//             margin-top: 0;

//             .top-header-menu {
//                 max-width: 100%;
//                 transition: 0.3s ease-in-out;
//                 background-color: #fff;
//                 box-shadow: 0 0 16px rgba(50, 50, 50, 0.2);
//             }

//             .navbar-brand {
//                 &.top-logo {
//                     img {
//                         width: 100px;
//                     }
//                 }
//             }
//         }

//         .navbar-nav {
//             >li {
//                 >a {
//                     @include media-breakpoint-up(xl) {
//                         color: #000;
//                         font-size: 1.2rem;
//                         text-shadow: none;
//                         padding: 0.2rem 0.7rem;

//                         &::before {
//                             top: 43px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// .navbar-brand {
//     &.top-logo {
//         img {
//             width: 80px;
//             transition: 0.3s ease-in-out;

//             @include media-breakpoint-up(xl) {
//                 width: 180px;
//             }
//         }
//     }
// }

// #top-header {
//     transition: 0.3s ease-in-out;

//     .navbar-nav {
//         >li {
//             >a {
//                 color: #000;
//                 text-transform: uppercase;

//                 @include media-breakpoint-up(xl) {
//                     font-size: 1.25rem;
//                     font-weight: 600;
//                     // letter-spacing: 0.1em;
//                     position: relative;
//                     padding: 1.6rem 0.7rem 1.2rem 0.7rem;

//                     &::before {
//                         display: inline-block;
//                         content: '';
//                         height: 3px;
//                         width: 0;
//                         position: absolute;
//                         left: 0;
//                         // right: 0;
//                         // margin: auto;
//                         top: 80px;
//                         background-color: $green;
//                         transition: 0.3s ease-in-out;
//                     }
//                 }

//                 padding: 0.5rem 0.7rem;
//                 margin: 0 10px;
//                 font-size: 1.2rem;
//                 font-weight: 600;
//                 text-align: center;

//                 &:hover {
//                     color: $green;

//                     &::before {
//                         width: 100%;
//                     }
//                 }

//                 &.active {
//                     color: $green;

//                     &:before {
//                         width: 100%;
//                     }
//                 }

//                 @include media-breakpoint-down(xl) {
//                     border-bottom: 1px solid #d8d8d8;
//                     padding: 0.6rem 0.7rem;
//                 }
//             }
//         }
//     }

//     .navbar-toggler {
//         &:focus {
//             box-shadow: none;
//         }
//     }
// }

// .navbar-nav {
//     .dropdown {
//         .dropdown-toggle {
//             position: relative;

//             &:after {
//                 border-right: none;
//                 border-left: none;
//                 border-top: none;
//                 content: "\f107";
//                 font-family: FontAwesome;
//                 font-style: normal;
//                 font-weight: normal;
//                 position: absolute;
//                 top: 8px;
//                 transition: 0.5s;

//                 @include media-breakpoint-up(lg) {
//                     display: none;
//                 }

//             }

//             &.show {
//                 &:after {
//                     transition: 0.5s;
//                     transform: rotate(-180deg);
//                 }
//             }
//         }
//     }
// }

// @include media-breakpoint-up(xl) {
//     .dropdown {
//         .dropdown-submenu {
//             top: 0;
//             left: 100%;
//             margin-top: 0;
//         }
//     }
// }


// @include media-breakpoint-up(xl) {
//     .navbar-nav {
//         li {
//             &:hover> {
//                 ul.dropdown-menu {
//                     display: block;
//                 }
//             }
//         }
//     }

//     .navbar-expand-xl .navbar-nav .dropdown-menu {
//         animation: growOut .3s ease-in-out forwards;
//     }
// }

// .dropdown-menu {
//     border-radius: 0;
//     padding: 0;
//     background: #ddd;

//     @include media-breakpoint-up(xl) {
//         box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
//         background: #fff;
//     }

//     &.depth_1 {
//         background: #fff;
//     }

//     min-width: 13rem;
//     border: none;

//     .menu-item {
//         border-bottom: 1px solid #f1f1f1;
//         background-color: transparent;

//         &:last-child {
//             border: none;
//         }
//     }

//     .dropdown-item {
//         padding: 0.6rem 1rem 0.7rem 1.5rem;

//         @include media-breakpoint-up(xl) {
//             padding: 1rem 1rem 1rem 1.5rem;
//         }

//         font-weight: 500;
//         font-size: 1.2rem;
//         transition: 0.3s ease-in-out;

//         @include media-breakpoint-up(xl) {
//             &:hover {
//                 padding-left: 2rem;
//             }
//         }

//         &:before {
//             font-family: FontAwesome;
//             content: "\f105";
//             font-style: normal;
//             font-weight: normal;
//             position: absolute;
//             left: 12px;
//             color: #c5c5c5;
//         }

//         &:hover {
//             background-color: $red;
//             color: #fff;
//         }

//         &.active {
//             background-color: $green;
//             color: #fff;
//         }
//     }
// }


// Error 404
.error404 {
    position: relative;
    z-index: 0;
}

//Qookie
.CybotCookiebotDialogBodyBottomWrapper {
    display: none;
}

body {

    #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyButtonAccept,
    #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonAccept,
    #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll {
        background-color: #007bff;
        border-color: #007bff;
        color: #FFFFFF;
    }

    #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonCustomize,
    #CybotCookiebotDialogFooter #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection {
        background-color: #FFFFFF;
        border-color: #007bff;
        color: #007bff;
    }

    #CybotCookiebotDialogNav .CybotCookiebotDialogNavItemLink.CybotCookiebotDialogActive {
        border-color: transparent;
        border-bottom: 1px solid #007bff;
        color: #007bff;
    }

    #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
        border: 2px solid #007bff;
        color: #007bff;
    }

    #CybotCookiebotDialog input:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
        background-color: #007bff;
    }

    #CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-change {
        background-color: #007bff;
        border-color: #007bff;
        color: #ffffff;
    }

    #CookiebotWidget #CookiebotWidget-buttons #CookiebotWidget-btn-withdraw {
        border-color: #007bff !important;
        color: #007bff;
        opacity: 1 !important;
    }

    #CookiebotWidget .CookiebotWidget-body .CookiebotWidget-consents-list li.CookiebotWidget-approved svg {
        fill: #007bff;
    }

    #CookiebotWidget .CookiebotWidget-consent-details button {
        color: #007bff;
    }

    #CybotCookiebotDialogFooter .CybotCookiebotDialogBodyButton {
        background-color: transparent;
    }
}

//underline line effect
.underline-effect {
    position: relative;
    z-index: 0;

    &:after {
        display: inline-block;
        position: absolute;
        bottom: 0;
        content: '';
        width: 100%;
        height: 9px;
        left: 0;
        z-index: -1;
    }

    &--red {
        &:after {
            background-color: $red;
        }
    }

    &--red-hero {
        &:after {
            bottom: 9px;
        }
    }

    &--green {
        &:after {
            background-color: $green;
        }
    }
}

// bg text
.text-bg {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-decoration-break: split;
    box-decoration-break: split;
    display: inline;

    &--red {
        background: $red;
        box-shadow: 5px 0 0 $red, -5px 0 0 $red;
    }

    &--green {
        background: $green;
        box-shadow: 5px 0 0 $green, -5px 0 0 $green;
    }
}

//hide recaptcha
.grecaptcha-badge {
    visibility: hidden;
}

@include media-breakpoint-up(xl) {
    .falka-bg {
        background-image: url('/wp-content/uploads/2023/08/falka.png');
        background-position: 70px center;
        background-repeat: repeat-y;
        background-size: contain;
    }
}

// Float btn
.right-float-box {
    position: fixed;
    bottom: -150px;
    right: 0;
    z-index: 99;
    transition: 0.5s;

    &.scrolled {
        bottom: 0;

        @include media-breakpoint-up(xl) {
            bottom: 40px;
        }
    }

    &__btn {
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
        transition: 0.5s;
    }
}

hr {
    &.border-top-white {
        border-top-color: #fff;
        opacity: .50;
    }
}

// Top header defeault page in defeault.php
.page-header-top {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;

    @include media-breakpoint-up(xl) {
        height: 450px;
    }

    @media (min-width: 1700px) {
        height: 550px;
    }
}

.page-template-default {
    h2 {
        &.wp-block-heading {
            margin-bottom: 1.5rem;

            strong {
                text-decoration: underline $red 6px;
            }
        }
    }

    ul {
        list-style: none;

        li {
            position: relative;
            padding-left: 25px;

            &:before {
                content: "\f14a";
                font-family: FontAwesome;
                color: $green;
                font-size: 18px;
                padding-right: 0.5em;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

.bg-green-shadow {
    background: $green;
    box-shadow: 5px 0 0 $green, -5px 0 0 $green;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    -webkit-box-decoration-break: split;
    box-decoration-break: split;
    display: inline;
    color: white;
}

.page-template {
    &.page-id-589 {
        .page-header-top {
            @include media-breakpoint-down(sm) {
                background-image: url('https://wolontariatwfirmie.pl/wp-content/uploads/2023/08/hero-top-mobile.jpg') !important;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .esg-box-item {
        transition: 0.5s;
        transform: translateY(10%);
        opacity: 0;

        &.ontop {
            transform: translateY(0);
            transition: 0.5s;
            opacity: 1;
        }
    }
}

ul.green-icon {
    list-style: none;

    li {
        position: relative;
        padding-left: 25px;

        &:before {
            content: "\f14a";
            font-family: FontAwesome;
            color: $green;
            font-size: 18px;
            padding-right: 0.5em;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}