// ------------------------------------ //
// #Colors
// ------------------------------------ //

$red: #ed1c24;
$green: #0d9b63;
$gray-light: #EFEFEF;

$names: (
    red,
    green,
    gray-light
);
$colors: (
    $red,
    $green,
    $gray-light
);

@each $name in $names {
    $i: index($names, $name);

    .bg-#{$name} {
        background-color: nth($colors, $i);
    }

    .text-#{$name} {
        color: nth($colors, $i);
    }

    .btn-#{$name} {
        @extend .btn;
        background: nth($colors, $i);
        color: #fff !important;

        &:hover,
        &:focus {
            color: nth($colors, $i) !important;
            background: #fff;
        }

        &--radius-more {
            border-radius: 35px;
        }
    }
}

//Custom Btns
.btn-green-swipe,
.btn-white-swipe,
.btn-red-swipe {
    background-color: $green;
    color: #fff;
    overflow: hidden;
    position: relative;
    border: none;
    z-index: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: $green;
        background-color: $green;

        &:before {
            transform: translateX(0);
        }
    }
}

.btn-red-swipe {
    background-color: $red !important;
    color: #fff !important;
    border: 1px solid $red;

    &:before {
        background-color: #fff !important;
    }

    &:hover {
        color: $red !important;
        background-color: $red !important;
    }
}

.btn-white-swipe {
    background-color: $white !important;
    color: $red !important;
    border: 1px solid #fff;

    &:before {
        background-color: $red !important;
    }

    &:hover {
        color: #fff !important;
        background-color: #fff !important;
    }
}

//Carousel 
$carousel-shadow: rgba(0, 0, 0, 0.3);

@mixin carousel-shadow {
    -webkit-box-shadow: 0px 0px 15px 0px $carousel-shadow;
    -moz-box-shadow: 0px 0px 15px 0px $carousel-shadow;
    box-shadow: 0px 0px 15px 0px $carousel-shadow;
}

// Pulse animation
.pulse-animation {
    .video-btn {
        position: absolute;
        text-align: center;
        box-shadow: 0 12px 24px 0 rgba(228, 6, 19, .5);
        border-radius: 50%;
        background: #ed1c24;
        color: #fff;
        z-index: 1;

        &:before {
            content: '';
            height: 150%;
            width: 150%;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
            z-index: -1;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 110%;
            width: 110%;
            line-height: 110px;
            background: #ed1c24;
            border-radius: 50%;
            z-index: -1;
            animation: pulse-border 1500ms ease-out infinite;
        }
    }

    &--sm {
        .video-btn {
            height: 35px;
            width: 35px;
            line-height: 35px;
            font-size: 15px;
        }
    }

    &--lg {
        .video-btn {
            height: 65px;
            width: 65px;
            line-height: 65px;
            font-size: 20px;
        }
    }

    &--center {
        .video-btn {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--top-left {
        .video-btn {
            left: 10%;
            top: 10%;
        }
    }
}

.fa-play {
    &:before {
        content: "\f04b";
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
        opacity: 0
    }
}

.lighten {
    animation: lighten 2s linear infinite;
}

@keyframes lighten {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: #fff;
    }
}

// Color Linkedin
$color-linkedin: #0a66c2;

.color-linkedin {
    color: $color-linkedin;
}

.fw-lg-bold {
    @include media-breakpoint-up(xl) {
        font-weight: bold;
    }
}

.border-radius-10 {
    border-radius: 10px;
}
.border-radius-15 {
    border-radius: 15px;
}